.Game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.Game-board .board {
  border: 10px outset #666;
}

.Game-board .board-row:after {
  clear: both;
  content: "";
  display: table;
}

.Game-board .board-row .square {
  background: #393;
  border: 1px solid #666;
  float: left;
  font-size: 48px;
  height: 34px;
  line-height: 0;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.Game-board .board-row .square:focus {
  outline: none;
}

.Game-board .board-row .square .black {
  color: #000;
}

.Game-board .board-row .square .white {
  color: #fff;
}

.Game-board .board-row .square .none {
  display: none;
}

.Game-info {
  margin-left: 30px;
  width: 200px;
}

.Game-info span {
  font-size: 16px;
  font-weight: bold;
}

.Game-info .count {
  font-size: 16px;
  font-weight: bold;
  padding: 10px 30px 0;
}

.Game-info ol, ul {
  padding-left: 30px;
}
